html {
    background-color: #f7f7f8;
}

/* Header layout. */

header {
    background-color: #291f71;
}

.header {
    color: #c82586;
}

nav {
    background-color: #c82586;
}

nav span {
    color: #4eeaf6;
}

/* Main content layout. */

article {
    background-color: #4eeaf6;
}