html {
    background-color: #207dff;
}

/* Header layout. */

header {
    background-color: #f9fd50;
}

.header {
    color: #6AD826;
}

nav {
    background-color: #85ef47;
}

nav span {
    color: #00bd56;
}

/* Main content layout. */

article {
    background-color: #00bd56;
}